<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div class="form-group">
    <label for="firstName">First Name</label>
    <input required minlength="3" pattern="^[A-Z][a-z0-9_-]{1,19}$" [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" id="firstName" (change)="log(firstName)" type="text" class="form-control">
    <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
      <div *ngIf="firstName.errors.required"><small>First Name is Required</small></div>
      <div *ngIf="firstName.errors.minlength"><small>First Name must be at least 3 characters long</small></div>
      <div *ngIf="firstName.errors.pattern"><small>The first letter should be uppercase</small></div>
    </div>
  </div>
  </div>
  <div class="form-group">
    <label for="comments">Comments</label>
    <textarea ngModel name="comments" id="comments" class="form-control"></textarea>
  </div>
  <div class="form-check">
    <label for="" class="form-check-label">
      <input ngModel name="subscribe" #subscribe="ngModel" type="checkbox" class="form-check-input">Subscribe to Newsletter</label>
  </div>
  
  <!-- <div class="form-group"><label for="language">Language</label>
    <select multiple ngModel name="language" id="language" class="form-control">
      <option>Please select a language</option>
      <option *ngFor="let lang of languages" [ngValue]="lang">{{ lang.name }}</option>
    </select>
  </div> -->

  <div class="form-check form-check-inline" *ngFor="let lang of languages">
    <label class="form-check-label">
      <input type="radio" [(ngModel)]="user.language" name="language" class="form-check-input" [value]="lang.id" >{{ lang.name }}
    </label>
  </div>

  <div class="form-group" ngModelGroup="contactMethods"><label>Contact Method</label>
    <div *ngFor="let cm of contactMethods"  class="form-check form-check-inline">
      <label class="form-check-label">
        <input type="checkbox" ngModel name="{{cm.name}}" id="language" class="form-check-input" checked="'checked'" [value]="cm.name">{{ cm.name }}</label>
      </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
  <button type="button" class="btn btn-primary" (click)="onClick()">Clear</button>
</form>

<pre>
  {{ f.value | json }}
</pre>